<mat-card
  *ngFor="let p of products"
  class="hover:shadow-lg transition">

  <!-- IMAGEM DO PRODUTO -->
  <img
    *ngIf="p.imageUrl"
    [src]="p.imageUrl"
    [alt]="p.name"
    class="w-full h-56 object-cover">

  <mat-card-content>
    <h3 class="font-semibold text-lg">
      {{ p.name }}
    </h3>

    <p class="text-sm text-gray-600 mt-1">
      {{ p.description }}
    </p>

    <p class="text-green-600 font-bold text-xl mt-3">
      {{ p.price | currency:'BRL' }}
    </p>
  </mat-card-content>

  <mat-card-actions class="flex justify-between">

    <button
      mat-button
      color="primary">
      Detalhes
    </button>

    <button
      mat-raised-button
      color="accent"
      (click)="addToCart(p)">
      Comprar
    </button>

  </mat-card-actions>

</mat-card>